/* nav bar */
body {
    background-color : #F5F5F5;
}
div.title{
    display: inline-block;
}

div.title {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;   
}

li.nav__list__item {
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
}

li.nav__list__item span{
    color: black;
}
li.nav__list__item span:hover{
    font-size: 20px;
    color: #39C08F;
    font-weight: bold;
}
ul {
    list-style: none;
    display: block;
}
nav {
    position:absolute;
    top: 0;
    right: 0;
    padding: 25px;
}
.menu {
    font-size: 20px;
    font-weight:530;
}
#title_1 {
    font-size: 45px;
    font-weight: bold;
    color: #39C08F;
}
#title_2 {
    color: #9FACBD;
}

a { 
    text-decoration-line: none;
}

/* text */


@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#exbox {
    padding-bottom: 50px;
}

h2 {
    font-family: 'GangwonEduPowerExtraBoldA';
    text-align: center;
    font-size: 40px;
}

img {
    height: 400px;
    display: block;
    margin: auto;
    padding-bottom: 40px;
}
p {
    text-align: center;
    font-size: 17px;
    padding-left: 50px;
    padding-right: 50px;
}