body {
    background-color : #F5F5F5;
}
div.title{
    display: inline-block;
}

div.title {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
li.nav__list__item {
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
}
li.nav__list__item span{
    color: black;
}
li.nav__list__item span:hover{
    color: #39C08F;
    font-weight: bold;
}
ul {
    list-style: none;
    display: block;
}
nav {
    position:absolute;
    top: 0;
    right: 0;
    padding: 25px;
}
.menu {
    font-size: 20px;
    font-weight:530;
}
#title_1 {
    font-size: 45px;
    font-weight: bold;
    color: #39C08F;
}
#title_2 {
    color: #9FACBD;
}

a { 
    text-decoration-line: none;
}
/* title */
.news_title__box {
    padding-left: 150px;
    padding-right: 150px;
    display: block;
    margin-bottom: 60px;
}
.news_title__box h1 {
    font-size: 30px;
}
.text {
    overflow: hidden;
    display: block;
    padding-bottom: 20px;
    padding-top: 3px;
    border-bottom: 1px solid #d4d4d4;
}
.text2{
    overflow: hidden;
    display: block;
    padding-bottom: 18px;
    padding-top: 18px;
    border-bottom: 1px solid #d4d4d4;
}
.news_title__box li {
    text-align: -webkit-match-parent;;
}
.news_title__box ul {
    list-style: none;
    padding-left: 0;
}
.bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: -1px 8px 1px 4px;
    background-color: #9FACBD;
    vertical-align: middle;
}
.source {
    font-size: 12px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
    padding: 0;
}
.news_title span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 20px;
    padding-bottom: 5px;
}