body {
    background-color : #F5F5F5;
}
div.title{
    display: inline-block;
}

div.title {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
li.nav__list__item {
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
}
li.nav__list__item span{
    color: black;
}
li.nav__list__item span:hover{
    font-size: 20px;
    color: #39C08F;
    font-weight: bold;
}
ul {
    list-style: none;
    display: block;
}
nav {
    position:absolute;
    top: 0;
    right: 0;
    padding: 25px;
}
.menu {
    font-size: 20px;
    font-weight:530;
}
#title_1 {
    font-size: 45px;
    font-weight: bold;
    color: #39C08F;
}
#title_2 {
    color: #9FACBD;
}

a { 
    text-decoration-line: none;
}

/* nudge img */
.nudge__img{
    width: 800px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.nudge__img input[type=radio]{
    display: none;
}
ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s;
    padding: 0;
    margin: 0;
}
.bullets{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width:20px;
    height: 20px;
    cursor: pointer;
}
.nudge__img input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.nudge__img input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.nudge__img input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.nudge__img input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}
.nudge__img input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index: 1;
}
.nudge__img input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index: 1;
}
.nudge__img input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index: 1;
}
.nudge__img input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index: 1;
}

/* clock__graph */

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.clock__graph {
    position: relative;
    padding: 5%;
    background-color: white;
    text-align: center;
    
}
.clock__text_box {
    width: 200px;
    margin: auto;
    text-align: center;
}
.clock__text_box div {
    position: relative;
    display: inline-block;
}
.clock__graph h1 {
    display: flex;
    width: 200px;
    padding: 2px 16px;
    cursor: pointer;
    font-family: 'GangwonEduPowerExtraBoldA';
}
.clock__text {
    display: none;
    width: auto;
    padding: 8px;
    left: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #dedede;
    color: rgb(37, 34, 34);
    font-size: 14px;
    font-weight:500;
}

.clock__text_box h1:hover + .clock__text{
    display: block;
}
.graph__container{
    display: flex;
    gap: 50px;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
}
.clock__graph span {
    float: left;
}
.chart {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transition: 0.3s;
}
span.center {
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    transform: translate(-50%,-50%);

}

/* ex_box */
.ex__section{
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
}
.ex_title{
    padding-left: 40px;
    font-size: 20px;
    font-family: 'GangwonEduPowerExtraBoldA';
}

.ex__box{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
}

.ex__section .ex__box li {
    width: calc(33.3% -40px);
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    margin-right: 40px;
    margin-bottom: 40px
}
.text p{
    text-align: center;
}
.ex__section .ex__box li h3 {
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    padding-bottom: 20px;
}
.ex__section .ex__box li .img {
    text-align: center;
}
.ex__section .ex__box{
    margin-right: -40px;
    display: flex;
    flex-wrap: wrap;
}
.img__list {
    display: list-item;
    width: 320px;
}
.img img{
    height: 150px;
}

/* Book */
.book_list li {
    list-style: none;
}
.flex {
    display: flex;
}
.flex-jc-c{
    justify-content: center;
}

.book_box{
    border: solid #dedede;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 430px;
    overflow: hidden;
}
.book_list {
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.5s ease-out;
    padding-left: 10px;
}
.book_list li:not(:last-child){
    justify-content: flex-start;
    margin-right: 40px;
}
.controls{
    text-align: center;
}
.controls span{
    font-size: 30px;
    z-index: 2;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
.controls>.prev{
    right: calc(100% - 40px);
}
.controls>.next{
    left:calc(100% - 40px);
}
.book{
    width: 300px;
    height: 400px;
}