body {
    background-color : #F5F5F5;
}
div.title{
    display: inline-block;
    font-family: 'Pretendard-Regular';
}
div.title {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
li.nav__list__item {
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
}
li.nav__list__item span{
    color: black;
    
}
li.nav__list__item span:hover{
    color: #39C08F;
    font-weight: bold;
}
ul {
    list-style: none;
    display: block;
}
nav {
    position:absolute;
    top: 20px;
    right: 40px;
}
.menu {
    font-size: 20px;
    font-weight:530;
}
#title_1 {
    font-size: 45px;
    font-weight: bold;
    color: #39C08F;
}
#title_2 {
    
    color: #9FACBD;
}

a { 
    text-decoration-line: none;
}
.home__header{
    top: 0;
    margin: 0 auto;
    background-color: #F5F5F5;
    width: 100%;
    z-index: 99;
    position: absolute;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.home__header{
    position: fixed;
}
/* intro */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.intro__section{
    padding: 90px 0 0px;

}
.intro_container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    position: relative;
}
.intro_title{
    text-align: center;
    font-size: 60px;
    margin-bottom: 110px;
}
.intro__section ul, li{
    padding: 0;
    margin: 0;
}
.intro_title h2{
    margin-bottom: 0px;
    color: #39C08F;
    font-family: 'Pretendard-Regular';
}
.intro_title p{
    margin-top: 0px;
    color: #9FACBD;
    font-family: 'Pretendard-Regular';
}
.intro__section .intro_box{
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.intro__section .intro_box .intro_txt_box{
    width: 50%;
}
.intro_txt_box1{
    text-align: center;
}
.intro_txt_box1 h3{
    font-size: 30px;
    font-family: 'Pretendard-Regular';
}
.intro_txt_box1 p{
    font-size: 20px;
    font-family: 'Pretendard-Regular';
}
.intro_txt_box h3{
    font-size: 30px;
    font-family: 'Pretendard-Regular';
}
.intro_txt_box p{
    font-size: 20px;
    font-family: 'Pretendard-Regular';
    
}
.intro_img{
    width: 50%;
    padding-right: 30px;
    min-width: 400px;
    max-width: 100%;
    text-align: center;
}
.intro_box.re{
    flex-flow: row-reverse;
    justify-content: center;
}

.green{
    color: #39C08F;
}
.red{
    color: red;
}
/* clock__graph */

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.clock__graph {
    position: relative;
    padding: 5%;
    background-color: white;
    text-align: center;
    
}
.clock__text_box {
    width: 200px;
    margin: auto;
    text-align: center;
}
.clock__text_box div {
    position: relative;
    display: inline-block;
}
.clock__graph h1 {
    display: flex;
    width: 200px;
    padding: 2px 16px;
    cursor: pointer;
    font-family: 'GangwonEduPowerExtraBoldA';
}
.clock__text {
    display: none;
    width: auto;
    padding: 8px;
    left: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #dedede;
    color: rgb(37, 34, 34);
    font-size: 16px;
    font-weight:500;
}

.clock__text_box h1:hover + .clock__text{
    display: block;
}
.graph__container{
    display: flex;
    gap: 50px;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
}
.clock__graph span {
    float: left;
}
.chart {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transition: 0.3s;
}
span.center {
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    transform: translate(-50%,-50%);

}

/* ex_box */
.ex__section{
    display: block;
    margin:0 auto;
    text-align: center;
    position: relative;
}
.ex_title{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
    font-family: 'GangwonEduPowerExtraBoldA';
}

.ex__box{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
}

.ex__section .ex__box li {
    width: calc(33.3% -40px);
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    margin-right: 40px;
    margin-bottom: 40px
}
.text p{
    text-align: center;
}
.ex__section .ex__box li h3 {
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    padding-bottom: 20px;
}
.ex__section .ex__box li .img {
    text-align: center;
}
.ex__section .ex__box{
    margin-right: -40px;
    display: flex;
    flex-wrap: wrap;
}
.img__list {
    display: list-item;
    width: 320px;
}
.img img{
    height: 150px;
}
.btn button{
    background-color:#39C08F;
    border-color: #39C08F;
    color: #fff;
    border-radius: 4px;
    width: 130px;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
/* Book */
.book_list li {
    list-style: none;
}
.flex {
    display: flex;
}
.flex-jc-c{
    justify-content: center;
}

.book_box{
    border: solid #dedede;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 430px;
    overflow: hidden;
}
.book_list {
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.5s ease-out;
    padding-left: 10px;
}
.book_list li:not(:last-child){
    justify-content: flex-start;
    margin-right: 40px;
}
.controls{
    text-align: center;
}
.controls span{
    font-size: 30px;
    z-index: 2;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
.controls>.prev{
    right: calc(100% - 40px);
}
.controls>.next{
    left:calc(100% - 40px);
}
.book{
    width: 300px;
    height: 400px;
}
/* 공모전 */
.item__section{
    display: block;
    text-align: center;
    margin: 0 auto;
    
}
.item__box{
    width: 1600px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border: 3px solid #dedede;
}

.item {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    
}
.item img {
    height: 350px;
    width: 300px;
    transition: all 0.2s linear;
}
.item:hover img{
    transform: scale(1.2);
}
/* footer */
footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: white;
    padding: 50px 0 70px;
    left: 0;
    right: 0;
    bottom: 0;

}
footer p{
    margin-bottom: 12px;
    font-family: 'Pretendard-Regular';
}
.me_txt {
    text-align: center;
}
footer a{
    font-size: 35px;
}